@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

.author_picture {
    background-size: cover;
    border-radius:50% 50% 50% 50%;
    width:200px;
    height:200px;
}

.author_name_link {
    text-decoration: none;
    color: gray;
}
.author_name_link:hover {
    color: green;
}
.article_created_at {
    color: gray;
}
.article {
    opacity: 1;
    transition: .3s ease-in-out;
}

.article:hover {
    opacity: .7;
}

.featured_category_article {
    padding-top: 10px;
    padding-bottom: 10px;
}


