@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

.author_picture {
    background-size: cover;
    border-radius:50% 50% 50% 50%;
    width:200px;
    height:200px;
}

.author_name_link {
    text-decoration: none;
    color: gray;
}
.author_name_link:hover {
    color: green;
}
.article_created_at {
    color: gray;
}
.article {
    opacity: 1;
    transition: .3s ease-in-out;
}

.article:hover {
    opacity: .7;
}

.featured_category_article {
    padding-top: 10px;
    padding-bottom: 10px;
}

/*Styles for my article form creation*/
/*.form-control{
    display: block;
    width:100%;
    font-size: 1rem;
    font-weight: 400;
    line-height:1.5;
    border-color: #00ac96 !important;
    border-style: solid !important;
    border-width: 0 0 1px 0 !important;
    padding: 0px !important;
    color:#495057;
    height: auto;
    border-radius: 0;
    !*background-color: #fff;*!
    background-clip: padding-box;
}


.form-control:focus{

    color: #495057;
    !*background-color: #fff;*!
    border-color: #fff;
    outline: 0;
    box-shadow: none;
}*/

/*label {
    font-family: sans-serif;
}*/

