@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

.author_name {
    padding-top: 5px;
}
.author_name_link {
    text-decoration: none;
    color: black;
}
.author_name_link:hover {
    color: green;
}
.article_created_at {
    color: gray;
}
.article:hover {
    background-color: floralwhite;
}

